<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
	<listeners>
    	<listener name = "TestScript.Listeners"></listener>
   	</listeners>
	<parameter name = "browser" value = "Chrome"></parameter>
    <test thread-count="5" name="Test">
    
    <classes>
      <class name ="TestScript.QALegendLoginTests"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
